* {
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Helvetica Neue", Arial, sans-serif;
}

@font-face {
  src: url("./assets/Neon.ttf");
  font-family: "Neon";
}

.synthwave-background {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(
    to bottom,
    rgb(20, 39, 79) 0px,
    rgb(242, 21, 119) 500px,
    rgb(20, 39, 79) 500px
  );
}

.road {
  width: 100%;
  height: 40em;
  overflow: hidden;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0px,
      rgba(62, 250, 240, 0.5) 0%,
      rgba(62, 250, 240, 0.5) 3px,
      rgba(0, 0, 0, 0) 0px
    ),
    linear-gradient(
      90deg,
      rgba(0, 0, 0, 0) 0px,
      rgba(62, 250, 240, 0.5) 0%,
      rgba(62, 250, 240, 0.5) 3px,
      rgba(0, 0, 0, 0) 0px
    );
  background-size: 2em 1em, 2em 1em;
  background-color: rgb(20, 39, 79);
  perspective: 1000px;
  margin-top: 20em;
  transform: perspective(200px) rotateX(45deg) scale(2);
  animation: road 10s linear infinite;
}
.sun {
  width: 400px;
  height: 400px;
  background: linear-gradient(180deg, #faf09d 0%, #fc9093 52.08%, #e92077 100%);
  border-radius: 50%;
  z-index: 1;
  margin: 0 auto;
  position: absolute;
  top: 100px;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

.sun > .lines {
  width: 100%;
  height: 50%;
  position: relative;
  bottom: -60%;
  border-radius: 0 0 50% 50%;
  overflow: hidden;
}

.lines > .line {
  width: 100%;
  height: calc(5px * var(--pos));
  background-color: rgba(0, 0, 0, 0.3);
  mix-blend-mode: overlay;
  margin-bottom: 1rem;
}

@keyframes road {
  from {
    transform: perspective(200px) rotateX(45deg) scale(1.5);
  }
  to {
    transform: perspective(200px) rotateX(45deg) scale(2.1);
  }
}

._80s-text {
  font-size: 6em;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 4;
}
._80s-text > h1 {
  font-family: "Neon", Arial, Helvetica, sans-serif;
  width: 100%;
  text-align: center;
  color: rgb(252, 121, 218);
  text-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 10px rgb(234, 38, 171),
    0 0 10px rgb(234, 38, 171), 0 0 15px rgb(234, 38, 171),
    0 0 20px rgb(234, 38, 171), 0 0 25px rgb(234, 38, 171);
}
